/* SCSS HEX */
$space-cadet: #2b2d42ff;
$crimson: #a51c30ff;
$cardinal: rgb(234, 215, 217);
$persian-green: #17a398ff;
$white: #ffff;

.leftbar {
  position: sticky;
  top: 60px;
  border-right: 1px solid $crimson;
  height: 100vh;

  .container {
    padding: 20px;
    height: 80vh;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .links {
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: column;

        .logout {
          padding: 10px;
          background-color: red;
          outline: none;
          border: none;
          margin-top: 5px;
          cursor: pointer;
          width: 100%;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 10px;

        img {
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .icons {
        display: flex;
        gap: 5px;
        justify-content: space-evenly;
        align-items: center;

        img {
          width: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .leftbar {
    flex-direction: column;
    display: none;
  }

  .menu {
    display: none;
  }

  .leftbar .user {
    margin-bottom: 1rem;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f2f2f2;
    margin-bottom: 1rem;
  }

  .item img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .item span {
    font-size: 1.5rem;
  }
}
