$space-cadet: #2b2d42ff;
$crimson: #a51c30ff;
$cardinal: rgb(234, 215, 217);
$persian-green: #17a398ff;
$white: #ffff;
* {
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 60%;
  margin: 2rem auto;

  input {
    border: none;
    border-bottom: 1px solid $crimson;
    padding: 10px 10px;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  button {
    width: 50%;
    padding: 7px 10px;
    border: none;
    background-color: $space-cadet;
    color: $white;
    cursor: pointer;
    font-weight: bold;
  }
}

.card-technician__details {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 4rem;
  

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 80vh;
    max-width: 100%;
  }

  .card-technician__image {
    flex: 2;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
      object-fit: contain;
    }
  }

  .card-content {
    flex: 1;
    line-height: 3rem;
    text-align: right;

    p:nth-child(even) {
      background: rgb(181, 181, 181);
      padding-right: 0.5rem;
    }

    p:last-child {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.4rem;
    }

    button {
      background: red;
      padding: 0.3rem 0.6rem;
      border-radius: 0.2rem;
      color: rgb(200, 200, 200);
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      border: none;
    }
  }
}

.card-technicians {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  .btn-appointment {
    background: #039be5;
    color:rgb(255, 255, 255);
  }
}