/* SCSS HEX */
$space-cadet: #2b2d42ff;
$crimson: #a51c30ff;
$cardinal: rgb(234, 215, 217);
$persian-green: #17a398ff;
$white: #ffffffff;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  height: 50px;
  border-bottom: 1px solid lightgray;
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
    span {
      font-weight: bold;
      font-style: 20px;
      color: $crimson;
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid $crimson;
      border-radius: 5px;
      padding: 5px;
      input {
        border: none;
        width: 500px;
      }
      input:focus {
          outline: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    .user {
        display: flex;
        align-items: center;
        gap: 10px;
      img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
      }

      span {
      }
    }
  }
}
