.cont h2 {
  text-align: center;
  padding-top: 30px;
}

.cont {
  width: 100%;
}

.cards {
  display: flex;
}

.reserve-cont {
  margin-left: 30px;
  margin-bottom: 40px;
}

.reserve-cont:first-child {
  margin-top: 20px;
}

.reserve-name {
  text-align: center;
  font-weight: bold !important;
}

.zero-length {
  padding: 2rem;
}

.reserve-cover-section {
  display: flex;
}
